[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "*"
python-dotenv = "*"
pymongo = {extras = ["srv"], version = "*"}
ta = "*"

[dev-packages]

[requires]
python_version = "3.9"
